.journalNavbar {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    /* height: 50px; */
    /* background-color: #FFFFFF; */
}

.journalNavbarContainer {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 10px;
}

.journalNavbarContainerLeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 270px;
}

.journalNavbarContainerLeftContainerTwoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.journalNavbarContainerLeftContainerTwoContainerLeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}

.journalNavbarContainerLeftContainerThreeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.journalNavbarContainerLeftContainerOneContainerText,
.journalNavbarContainerLeftContainerTwoContainerLeftContainerOneText,
.journalNavbarContainerLeftContainerTwoContainerLeftContainerThreeText,
.journalNavbarContainerLeftContainerTwoContainerRightContainerText,
.journalNavbarContainerLeftContainerThreeContainerOneContainerText,
.journalNavbarContainerLeftContainerThreeContainerTwoContainerText,
.journalNavbarContainerLeftContainerThreeContainerThreeContainerOneText,
.journalNavbarContainerRightContainerText {
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    color: #000000;
    /* text-decoration: none; */
    font-family: 'Helvetica Now Display', sans-serif;
}

.journalNavbarContainerLeftContainerTwoContainerLeftContainerTwoContainerIcon {
    width: 18px;
    height: 18px;
    /* font-weight: 800; */
}

.journalNavbarContainerLeftContainerThreeContainerThreeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(8.6px);
}

.journalNavbarContainerLeftContainerThreeContainerThreeContainerTwoDiv {
    width: 5px;
    height: 5px;
    background-color: #000000;
}