.homeHero {
    width: 100%;
    height: 475px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    will-change: transform;
}

.homeHeroContainer {
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: row;
    gap: 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.homeHeroContainerLeft {
    display: flex;
    flex: 1;
    width: 475px;
    height: 475px;
}

.homeHeroContainerLeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.homeHeroContainerLeftContainerOne {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
}

.homeHeroContainerLeftContainerOneContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeHeroContainerLeftContainerOneContainerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeHeroContainerLeftContainerTwo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.homeHeroContainerLeftContainerTwoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeHeroContainerLeftContainerTwoContainerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeHeroContainerMiddle {
    display: flex;
    flex: 1;
    width: 475px;
    height: 475px;
}

.homeHeroContainerMiddleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.homeHeroContainerMiddleContainerOne {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
}

.homeHeroContainerMiddleContainerOneContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeHeroContainerMiddleContainerOneContainerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeHeroContainerMiddleContainerTwo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.homeHeroContainerMiddleContainerTwoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeHeroContainerMiddleContainerTwoContainerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeHeroContainerRight {
    display: flex;
    flex: 1;
    width: 475px;
    height: 475px;
}

.homeHeroContainerRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.homeHeroContainerRightContainerOne {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
}

.homeHeroContainerRightContainerOneContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeHeroContainerRightContainerOneContainerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeHeroContainerRightContainerTwo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.homeHeroContainerRightContainerTwoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeHeroContainerRightContainerTwoContainerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}