.homeFotter {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 20px;
}

.homeFotterContainer {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.homeFotterContainerLeftContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.homeFotterContainerLeftContainerOneContainerText,
.homeFotterContainerLeftContainerTwoContainerText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Helvetica Now Display';
}

.homeFotterContainerLeftContainerTwoContainerText:hover {
    cursor: pointer;
}

.homeFotterContainerLeftContainerTwoContainerText:hover {
    color: #808080;
}

.homeFotterContainerRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
}

.homeFotterContainerRightContainerFourContainerButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 40px;
}

.homeFotterContainerRightContainerFourContainerButton:hover {
    background-color: #ffffff;
}

.homeFotterContainerRightContainerFourContainerButton:hover .homeFotterContainerRightContainerFourContainerButtonTwoContainerText {
    color: #000000;
}

.homeFotterContainerRightContainerFourContainerButtonOneContainerText,
.homeFotterContainerRightContainerFourContainerButtonTwoContainerText,
.homeFotterContainerRightContainerFourContainerButtonThreeContainerText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Helvetica Now Display';
}

.homeFotterContainerRightContainerTwoContainerOneContainerText,
.homeFotterContainerRightContainerTwoContainerTwoContainerText,
.homeFotterContainerRightContainerTwoContainerThreeContainerText,
.homeFotterContainerRightContainerTwoContainerFourContainerText,
.homeFotterContainerRightContainerTwoContainerFiveContainerText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Helvetica Now Display';
    cursor: pointer;
}

.homeFotterContainerRightContainerTwoContainerOneContainerText:hover,
.homeFotterContainerRightContainerTwoContainerTwoContainerText:hover,
.homeFotterContainerRightContainerTwoContainerThreeContainerText:hover,
.homeFotterContainerRightContainerTwoContainerFourContainerText:hover,
.homeFotterContainerRightContainerTwoContainerFiveContainerText:hover {
    color: #808080;
}

.homeFotterContainerRightContainerOneContainerOneContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateX(-15px);
}

.homeFotterContainerRightContainerOneContainerOneContainer:hover {
    cursor: pointer;
}

.homeFotterContainerRightContainerOneContainerOneContainer:hover .homeFotterContainerRightContainerOneContainerOneContainerTwoText {
    color: #808080;
}

.homeFotterContainerRightContainerOneContainerOneContainer:hover .homeFotterContainerRightContainerOneContainerOneContainerOneDiv {
    background-color: #808080;
}

.homeFotterContainerRightContainerOneContainerOneContainerTwoText,
.homeFotterContainerRightContainerOneContainerTwoContainerText,
.homeFotterContainerRightContainerOneContainerThreeContainerText,
.homeFotterContainerRightContainerOneContainerFourContainerText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Helvetica Now Display';
    cursor: pointer;
}

.homeFotterContainerRightContainerOneContainerTwoContainerText:hover,
.homeFotterContainerRightContainerOneContainerThreeContainerText:hover,
.homeFotterContainerRightContainerOneContainerFourContainerText:hover {
    color: #808080;
}

.homeFotterContainerRightContainerThreeContainerOneContainerText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Helvetica Now Display';
}

.homeFotterContainerRightContainerThreeContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInputWrapper,
.homeFotterContainerRightContainerThreeContainerThreeContainerInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInputIndicator,
.homeFotterContainerRightContainerThreeContainerThreeContainerInputIndicator {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    z-index: 1;
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInputIndicatorText,
.homeFotterContainerRightContainerThreeContainerThreeContainerInputIndicatorText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Helvetica Now Display';
    margin: 0;
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInput,
.homeFotterContainerRightContainerThreeContainerThreeContainerInput {
    border: none;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    font-family: 'Helvetica Now Display';
    width: 100%;
    padding-left: 20px;
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInput::placeholder,
.homeFotterContainerRightContainerThreeContainerThreeContainerInput::placeholder {
    transform: translateX(-20px);
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    font-family: 'Helvetica Now Display';
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInput:focus,
.homeFotterContainerRightContainerThreeContainerThreeContainerInput:focus {
    outline: none;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    font-family: 'Helvetica Now Display';
    padding-left: 20px;
}

.homeFotterContainerRightContainerThreeContainerTwoContainerInput:focus::placeholder,
.homeFotterContainerRightContainerThreeContainerThreeContainerInput:focus::placeholder {
    transform: translateX(-20px);
    color: #4D4D4D;
}

.homeFotterContainerRightContainerThreeContainerFourContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.homeFotterContainerRightContainerThreeContainerFourContainerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.homeFotterContainerRightContainerThreeContainerFourContainerOneContainerText,
.homeFotterContainerRightContainerThreeContainerFourContainerTwoContainerText,
.homeFotterContainerRightContainerThreeContainerFourContainerFourContainerText {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #4D4D4D;
    font-family: 'Helvetica Now Display';
}

.homeFotterContainerRightContainerThreeContainerFourContainerDiv:hover .homeFotterContainerRightContainerThreeContainerFourContainerOneContainerText,
.homeFotterContainerRightContainerThreeContainerFourContainerDiv:hover .homeFotterContainerRightContainerThreeContainerFourContainerTwoContainerText,
.homeFotterContainerRightContainerThreeContainerFourContainerDiv:hover .homeFotterContainerRightContainerThreeContainerFourContainerFourContainerText {
    color: #ffffff;
}

.homeFotterContainerRightContainerOneContainerOneContainerOneDiv {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
}